allow-git=none
block-exotic-subdependencies=true
minimumReleaseAge=20160
offline-mode=false
audit-level=high
verify-store-signatures=true
verify-store-integrity=true
ignore-scripts=true
frozen-lockfile=true
hoist=false
engine-strict=true
registry=https://registry.npmjs.org/
